body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.bikerz-zone-light-red{
    background-color:black;
}
.rating-icon{
    width: 20px;
}
.fot-bz-bg{
    background-color: rgb(15, 15, 34);
}